/* World Elements */
body {
    background: #07252d;
}

h1 {
    margin: 0;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stopAnimation {
    animation: none !important;
    cursor: none;
}
/* Really nice color with this filter (filter: invert(26%) sepia(0%) saturate(1176%) hue-rotate(253deg) brightness(93%) contrast(91%);) */

/* Opening */
.opening {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #292929;
    transition: all 2.5s;
}

.powerBtn {
    height: 150px;
    filter: invert(26%) sepia(0%) saturate(1176%) hue-rotate(253deg) brightness(93%) contrast(91%);
    cursor: pointer;
    animation: power-on 4s ease infinite;
}

@keyframes power-on {
    0% { filter: invert(26%) sepia(0%) saturate(1176%) hue-rotate(253deg) brightness(93%) contrast(91%); }
    50% { filter: invert(48%) sepia(3%) saturate(0%) hue-rotate(13deg) brightness(92%) contrast(91%); }
    100% { filter: invert(26%) sepia(0%) saturate(1176%) hue-rotate(253deg) brightness(93%) contrast(91%); }
}

@media screen and (min-width: 768px) {
    .powerBtn {
        height: 300px;
    }
}

/* Background */
.background {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.background-circle {
    position: relative;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: circle 0.5s linear infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.background-circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}

.background-circle span:nth-child(1) {
    filter: blur(5px);
}

.background-circle span:nth-child(2) {
    filter: blur(10px);
}

.background-circle span:nth-child(3) {
    filter: blur(25px);
}

.background-circle span:nth-child(4) {
    filter: blur(50px);
}

.background-circle::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    background: #fff;
    border-radius: 50%;
}

.cover {
    position: absolute;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 20px solid #fff;
}

@media screen and (min-width: 768px) {
    .background-circle {
        height: 280px;
        width: 280px;
    }

    .background-circle::after {
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
    }

    .cover {
        height: 300px;
        width: 300px;
        border-width: 25px;
    }
}

/* Main */
.main {
    position: fixed;
    height: 90vh;
    width: 90vw;
    top: 5vh;
    left: 5vw;
    background: RGBA(102,94,101,0.47);
    border-radius: 25px;
}

/* Tube Text */
.heading {
    margin-top: 50px;
    margin-left: 10px;
}

.heading h1:nth-child(1) {
    margin-bottom: 10px;
}

.tube {
    position: relative;
    font-size: 4em;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.7em;
    outline: none;
    animation: tube 5s linear 2;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4;
}

@keyframes tube {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% {
        color: #0e3742;
        text-shadow: none;
    }
    
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
            0 0 20px #03bcf4,
            0 0 40px #03bcf4,
            0 0 80px #03bcf4,
            0 0 160px #03bcf4;
    }
}

@media screen and (min-width: 768px) {
    .heading h1:nth-child(1) {
        margin-bottom: 25px;
    }

    .tube {
        font-size: 10em;
    }
}